<div class="content">
	<div class="content__container container">
		<div class="container__post-description post-description" *ngIf="post">
			
			<div class="post-description__image-container">
				<img class="post-description__image" 
					 src="{{ post.acf['miracle-post-image'].url }}"
					 alt="{{ post.acf['miracle-post-image'].alt }}"
					 title="{{ post.acf['miracle-post-image'].title }}">
			</div>

			<h1 class="post-description__title">
				{{ post.title.rendered }}
			</h1>
			
			<ng-container *ngIf="author">
				<p class="post-description__info">
					Автор
					<a routerLink="/user/{{ author.slug }}"
						class="post-description__info-link">
						{{ author.name }}
					</a>
					<time> / {{ post.date | date:'d MMMM':timeZone:'ru-RU' }}</time>
				</p>
			</ng-container>

			<ng-container *ngIf="!author">
				<p class="post-description__info post-description__info_load">
					<span></span>
				</p>
			</ng-container>

			<ng-container *ngIf="post.acf['miracle-post-tags']">
				<div class="post-description__tags">
					<ng-container *ngFor="let tag of post.acf['miracle-post-tags']">
						<a routerLink="/tag/{{ tag.slug }}"
							class="post-description__tags-item">
							{{ '#' + tag.name }}
						</a>
					</ng-container>
				</div>
			</ng-container>

			<div class="post-description__innerHTML" [innerHTML]="innerHTML" (click)="openModalImage($event)"></div>

			<div class="recom-posts">
				<p class="recom-posts__title">
					Читайте так же:
				</p>

				<div class="recom-posts__post-cards" appMiracleRadio radio="2">
					<div class="recom-posts__news-card news-card"
						*ngFor="let post of recPosts">
						<a class="news-card__link"
							appScrollTo='.header'
							(click)="active('/news/' + post['miracle-post-category'].slug + '/' + post.post_name)">
							
							<img *ngIf="post['miracle-post-image']"
									class="news-card__image" 
									title="{{ post['miracle-post-image'].title }}"
									alt="{{ post['miracle-post-image'].alt }}"
									src="{{ post['miracle-post-image'].url }}">

							<img *ngIf="!post['miracle-post-image']"
								class="news-card__image news-card__image_undefinet">

							<div class="news-card__description">
								<object>
									<a [routerLink]="['/tag/', post['miracle-post-primary-tag'].slug]"
										class="news-card__categories">
										{{ post['miracle-post-primary-tag'].name }}
									</a>
								</object>
								<p class="news-card__title">
									{{ post.post_title }}
								</p>
							</div>
						</a>
					</div>
				</div>
			</div>

			<app-comment id="comments" 
						[comment_count]="post.comment_count"
						[postId]="post.id">
			</app-comment>
		
		</div>

		<div class="container__post-description post-description" *ngIf="!post">

			<div class="post-description__image-container">
				<div class="post-description__image post-description__image_load"></div>
			</div>

			<h1 class="post-description__title post-description__title_load">
				<span></span>
				<span></span>
			</h1>

			<p class="post-description__info post-description__info_load">
				<span></span>
			</p>

			<div class="post-description__tags">
			
				<ng-container *ngFor="let item of [1,2,3]">
				<a routerLink="/"
					class="post-description__tags-item post-description__tags-item_load">
					<span></span>
				</a>
				</ng-container>
			
			</div>

			<div class="post-description__innerHTML post-description__innerHTML_load">
				<p class="load" *ngFor="let item of [1,2,3]">
					<span class="load" *ngFor="let i of [1,2,3,4,5,6,7,8,9]"></span>
				</p>
			</div>

			<div class="recom-posts">
			
				<p class="recom-posts__title">
					Читайте так же:
				</p>

				<div class="recom-posts__post-cards" appMiracleRadio radio="2">
					<div class="recom-posts__news-card news-card" *ngFor="let post of recPosts">
						<a class="news-card__link"
							appScrollTo='.header'
							(click)="active('/news/' + post['miracle-post-category'].slug + '/' + post.post_name)">
							
							<img *ngIf="post['miracle-post-image']"
									class="news-card__image"
									[title]="post['miracle-post-image'].title"
									[alt]="post['miracle-post-image'].alt"
									[src]="post['miracle-post-image'].url">

							<img *ngIf="!post['miracle-post-image']"
								class="news-card__image news-card__image_undefinet">

							<div class="news-card__description">
								<object>
									<a [routerLink]="['/tag/', post['miracle-post-primary-tag'].slug]"
										class="news-card__categories">
										{{ post['miracle-post-primary-tag'].name }}
									</a>
								</object>
								<p class="news-card__title">
									{{ post.post_title }}
								</p>
							</div>
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<app-modal-image [image]="modalImageSrc" [show]="viewModal" (closeModal)="closeModal()"></app-modal-image>