@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?c52ofz');
  src:  url('fonts/icomoon.eot?c52ofz#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?c52ofz') format('truetype'),
    url('fonts/icomoon.woff?c52ofz') format('woff'),
    url('fonts/icomoon.svg?c52ofz#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="miracle-font-"], [class*=" miracle-font-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.miracle-font-chelovek:before {
  content: "\e903";
}
.miracle-font-dota:before {
  content: "\e904";
}
.miracle-font-chat:before {
  content: "\e900";
}
.miracle-font-live:before {
  content: "\e907";
}
.miracle-font-ss:before {
  content: "\e908";
}
.miracle-font-zvezda:before {
  content: "\e909";
}
