<div class="modal__header">
	<img class="modal__header-image"
		src="{{logo.url}}"
		alt="{{logo.alt}}"
		title="{{logo.title}}">
	<div class="modal__header-close" (click)="closeModal()">
		<i class="far fa-times-circle"></i>
	</div>
</div>
<div class="modal__content" #modal>
	
	<div
		[attr.aria-busy]="loadForm"
		aria-label="Loading, please wait."
		role="progressbar"
		class="modal__load">
	</div>
	
	<ul class="modal__content-switcher">
		<li
			[ngClass]="{'modal__content-switcher--item_active' : !register }"
			(click)="register = false"
			class="modal__content-switcher--item">
			Авторизация
		</li>
		<li
			[ngClass]="{'modal__content-switcher--item_active' : register }"
			(click)="register = true"
			class="modal__content-switcher--item">
			Регистрация
		</li>
	</ul>

	<div
		*ngIf="!register"
		[@enterAnimation]
		class="modal__content-login">
		
		<form
			(submit)="submitFormAuth($event, login, password_auth, modal)"
			class="modal__content-form form"
			#formLogin>
			
			<div class="form__field form__field-login" #parentlogin>
				
				<input
					(focus)="onFocus(login, parentlogin)"
					(input)="onInput(login, parentlogin)"
					(blur)="onBlur(login, parentlogin)"
					type="text"
					name="login"
					id="login"
					autocomplete="nickname"
					#login>
				
				<label for="login">
					Логин
				</label>
				
				<span class="form__field-message"></span>
			
			</div>
			
			<div
				class="form__field form__field-password"
				#parentpasswd>

				<input
					type="password"
					name="password"
					id="password_auth"
					autocomplete="current-password"
					(focus)="onFocus(password_auth, parentpasswd)"
					(input)="onInput(password_auth, parentpasswd)"
					(blur)="onBlur(password_auth, parentpasswd)"
					#password_auth>
				
				<label for="password">
					Пароль
				</label>

				<span class="form__field-message">Неверный пароль</span>
				
			</div>
			
			<div class="form__field-checkbox">
				
				<i (click)="toggleCheck();" class="far fa-check-square"></i>
				
				<input type="checkbox" id="checkbox_remember">

				<label
					(click)="toggleCheck();"
					for="checkbox_remember">
					запомнить меня
				</label>

			</div>
			
			<button type="submit" class="form__submit">
				<i name="submit" class="fas fa-sign-in-alt"></i>
			</button>
			
		</form>

	</div>

	<div
		*ngIf="register"
		[@enterAnimation]
		class="modal__content-auth">

		<form
			(submit)="submitFormRegister($event,
										login,
										password,
										password2,
										checkbox_agree,
										email,
										modal)"
			class="modal__content-form form">

			<div
				class="form__field form__field-email"
				#parentemail>
				
				<input
					(focus)="onFocus(email, parentemail)"
					(input)="onInput(email, parentemail)"
					(blur)="onBlur(email, parentemail)"
					type="email"
					name="email"
					id="email"
					autocomplete="email"
					#email>

				<label for="login">
					e-mail
				</label>
				
				<span class="form__field-message"></span>

			</div>

			<div
				class="form__field form__field-login"
				#parentlogin>
				
				<input
					(focus)="onFocus(login, parentlogin)"
					(input)="onInput(login, parentlogin)"
					(blur)="onBlur(login, parentlogin)"
					type="text"
					name="login"
					id="login"
					autocomplete="nickname"
					#login>

				<label for="login">
					Логин
				</label>
				
				<span class="form__field-message"></span>
				
			</div>
			
			<div
				class="form__field form__field-password"
				#parentpasswd>
				
				<input
					type="password"
					name="password"
					id="password"
					autocomplete="new-password"
					(focus)="onFocus(password, parentpasswd)"
					(input)="onInput(password, parentpasswd)"
					(blur)="onBlur(password, parentpasswd)"
					#password>

				<label for="password">
					Пароль
				</label>

				<span class="form__field-message"></span>
				
			</div>
			
			<div
				class="form__field form__field-password2"
				#parentrepeat>

				<input
					(focus)="onFocus(password2, parentrepeat)"
					(input)="onInput(password2, parentrepeat)"
					(blur)="onBlur(password2, parentrepeat)"
					type="password"
					name="password"
					id="password2"
					autocomplete="new-password"
					#password2>
				
				<label for="login">
					Повторите пароль
				</label>
				
				<span class="form__field-message"></span>

			</div>
			
			<div class="form__field-checkbox">
				
				<i (click)="toggleCheck();" class="far fa-check-square"></i>
				
				<input
					checked
					type="checkbox"
					name="checkbox"
					id="checkbox_agree"
					#checkbox_agree>
				
				<label
					(click)="toggleCheck();"
					for="checkbox_agree">
					нажимая на кнопку регистрации, Вы принимаете <span class="not-error">пользовательское соглашение</span>
				</label>

			</div>
			
			<button type="submit" class="form__submit">
				<i name="submit" class="fas fa-plus"></i>
			</button>
			
		</form>
	</div>
</div>
<div class="modal__footer">
	<ul class="modal__footer-socials">
		<li class="modal__footer-socials-item modal__footer-socials-fb">
			<a href="#">
				<i class="fab fa-facebook-f"></i>
			</a>
		</li>
		<li class="modal__footer-socials-item modal__footer-socials-ggl">
			<a href="#">
				<i class="fab fa-google-plus-g"></i>
			</a>
		</li>
		<li class="modal__footer-socials-item modal__footer-socials-vk">
			<a href="#">
				<i class="fab fa-vk"></i>
			</a>
		</li>
	</ul>
</div>