<div class="comment__author-image-container">
	<img [src]="commentAuthorAvatarUrl" class="comment__author-image">
</div>
<div class="comment__content">
	<div class="comment__wrapper">
		<div class="comment__content-info">
			<a routerLink="/" class="comment__content-info-nickname">
				{{ authorName }}&nbsp;
			</a>
			<time class="comment__content-info-date">
				/ {{ commentDate | date:'d MMMM в H:mm':'+0300':'ru-RU' }}
			</time>
		</div>
		<p class="comment__description" [innerHTML]="commentContent"></p>
		<button class="comment__answer" type="submit" (click)="commentAnswer()">
			Ответить
		</button>
	</div>
	<ng-container *ngIf="childs">
	<app-single-comment *ngFor="let comment of childs"
						class="comment__block comment__block_subcomment"
						(answer)="subCommentAnswer($event)"
						[postID]="postID"
						[commentID]="comment.id"
						[parentComment]="comment.id"
						[childs]="comment.childs"
						commentAuthorAvatarUrl="{{ comment.custom_author_avatar_urls ? comment.custom_author_avatar_urls : comment.author_avatar_urls['96'] }}"
						[authorName]="comment.author_name"
						[commentDate]="comment.date"
						[commentContent]="comment.content.rendered">
	</app-single-comment>
	</ng-container>
</div>