<div class="content">
	<div class="news-template">
		<div class="news-list news-template__main">
			
			<p class="news-template__main-title">
				Новости
			</p>

			<ng-container *ngIf="!posts">
			<ng-container *ngFor="let item of [7,7,7,7,7,7,7,7,7,7,7]">
			<a [@newsAnimation] routerLink="#" class="news-list__link">
		
				<div class="news-list__icon" [inlineSVG]="'zvezda.svg'"></div>
		
				<div class="news-list__separator
							separator
							separator_thin
							separator_start
							separator_black"></div>
		
				<div class="news-list__group_load">
					<span class="news-list__item news-list__item_load"></span>
					<span class="news-list__item news-list__item_load"></span>
				</div>
		
				<object>
					<div class="news-list__comments" data-hot="false">
						<a [routerLink]="['/']">
							<div class="news-list__icon news-list__icon_chat"
									[inlineSVG]="'chat.svg'"></div>
						</a>
					</div>
				</object>
		
			</a>
			</ng-container>
			</ng-container>

			<ng-container [@newsAnimation] *ngIf="posts && posts.length < 1">	
			<p [@newsAnimation] class="news-template__main-title">
				<small>Cтатей за день нет</small>
			</p>
			</ng-container>

			<ng-container *ngIf="posts">
			<ng-container *ngFor="let post of posts; index as i">
			<a [@newsAnimation] [routerLink]="[
					'/news/',
					post.acf['miracle-post-category'].slug,
					post.slug
				]" class="news-list__link">
						
				<ng-container *ngIf="post.acf['miracle-post-game'] !== undefined">
				<div class="news-list__icon" 
					*ngIf="post.acf['miracle-post-game'].value == 'dota2'"
					[inlineSVG]="'dota2.svg'"
					[title]="post.acf['miracle-post-game'].label"></div>

				<div class="news-list__icon" 
						*ngIf="post.acf['miracle-post-game'].value == 'cs'"
						[inlineSVG]="'csgo.svg'"
						[title]="post.acf['miracle-post-game'].label"></div>
						
				<div class="news-list__icon" 
					*ngIf="post.acf['miracle-post-game'].value == 'custom'"
					[inlineSVG]="'zvezda.svg'"></div>
				</ng-container>
					
				<div class="news-list__separator
							separator
							separator_thin
							separator_start
							separator_black"></div>
					
				<span class="news-list__item">
					{{ post.title.rendered }}
				</span>
			
				<ng-container *ngIf="post.comment_count > 0">
				<object>
					<div class="news-list__comments"
						[attr.data-hot]="post.comment_count > 0">
						
						<a [routerLink]="['/news/', post.acf['miracle-post-category'].slug,	post.slug]" fragment="comments">
							
							<div class="news-list__icon news-list__icon_chat"
									[inlineSVG]="'chat.svg'"></div>
							
							<span class="news-list__comments-count">
								{{ post.comment_count }}
							</span>

						</a>

					</div>
				</object>
				</ng-container>
			
			</a>
			</ng-container>
			</ng-container>

		</div>
		<div class="news-template__sidebar">
			<app-air-datepicker 
				[airOptions]="options"
				[(airDate)]="date"
				(airChange)="dateChanged($event)">
			</app-air-datepicker>
		</div>
	</div>
</div>