<ul class="navigation__menu menu" *ngIf="windowWidth > 1000">
	<ng-container *ngFor="let item of menu">
		<li class="menu__item menu__item_dropdown" *ngIf="item.parent">
			<a class="menu__link" routerLink="{{ item.url }}">
				{{ item.title }}
			</a>
			<a class="menu__link menu__link_drop-link"
				routerLink="{{ subitem.url }}"
				*ngFor="let subitem of item.childrens">
				<span class="menu__overflow-text">
					{{ subitem.title }}
				</span>
			</a>
		</li>
		<li class="menu__item" *ngIf="!item.parent && !item.child">
			<a class="menu__link" routerLink="{{ item.url }}">
				{{ item.title }}
			</a>
		</li>
	</ng-container>
</ul>

<button class="navigation__tablet-button" #mobileButton (click)="mobileButton.classList.toggle('navigation__tablet-button_active')" *ngIf="1000 >= windowWidth">
	<svg class="cross" viewBox="0 0 800 600">
		<path d="M300,220 C300,220 520,220 540,220 C740,220 640,540 520,420 C440,340 300,200 300,200" id="top"></path>
		<path d="M300,320 L540,320" id="middle"></path>
		<path d="M300,210 C300,210 520,210 540,210 C740,210 640,530 520,410 C440,330 300,190 300,190" id="bottom" transform="translate(480, 320) scale(1, -1) translate(-480, -318) "></path>
	</svg>
</button>

<div class="navigation__authorization authorization">
	<div class="authorization__icon"
		*ngIf="!loggedUser.get()"
		[inlineSVG]="'chelovek.svg'"></div>

	<div class="authorization__user-avatar-container" *ngIf="loggedUser.get()">
		<img
			class="authorization__user-avatar"
			src="{{ (loggedUser.get().acf && loggedUser.get().acf.user_avatar && loggedUser.get().acf.user_avatar.sizes && loggedUser.get().acf.user_avatar.sizes.thumbnail) ? loggedUser.get().acf.user_avatar.sizes.thumbnail : loggedUser.get().avatar_urls['96'] }}"
			[alt]="loggedUser.get().name"
			[title]="loggedUser.get().name">
	</div>

	<p class="authorization__user"
		(click)="openModal();"
		*ngIf="!loggedUser.get()">
		Зайти
	</p>
	<div class="authorization__user"
		*ngIf="loggedUser.get()">
		<ul class="authorization__user-menu menu">
			<li class="menu__item menu__item_dropdown">
				<a class="menu__link" routerLink="/user/profile">
					{{ loggedUser.get().name }}
				</a>
				<a class="menu__link menu__link_drop-link"
					routerLink="/user/profile">
					<span class="menu__overflow-text">
						Профиль
					</span>
				</a>
				<a class="menu__link menu__link_drop-link menu__link-logout" href="#" (click)="$event.preventDefault();logout()">
					<span class="menu__overflow-text">
						Выйти
					</span>
				</a>
			</li>
		</ul>
	</div>
</div>