@import "variables";

@font-face {
  font-family: 'icomoon';
  src:  url('#{$icomoon-font-path}/icomoon.eot?c52ofz');
  src:  url('#{$icomoon-font-path}/icomoon.eot?c52ofz#iefix') format('embedded-opentype'),
    url('#{$icomoon-font-path}/icomoon.ttf?c52ofz') format('truetype'),
    url('#{$icomoon-font-path}/icomoon.woff?c52ofz') format('woff'),
    url('#{$icomoon-font-path}/icomoon.svg?c52ofz#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="miracle-font-"], [class*=" miracle-font-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.miracle-font-chelovek {
  &:before {
    content: $miracle-font-chelovek;
  }
}
.miracle-font-dota {
  &:before {
    content: $miracle-font-dota;
  }
}
.miracle-font-chat {
  &:before {
    content: $miracle-font-chat;
  }
}
.miracle-font-live {
  &:before {
    content: $miracle-font-live;
  }
}
.miracle-font-ss {
  &:before {
    content: $miracle-font-ss;
  }
}
.miracle-font-zvezda {
  &:before {
    content: $miracle-font-zvezda;
  }
}

