$icomoon-font-path: "./styles/globals/font/fonts" !default;

$miracle-font-chelovek: "\e903";
$miracle-font-dota: "\e904";
$miracle-font-chat: "\e900";
$miracle-font-live: "\e907";
$miracle-font-ss: "\e908";
$miracle-font-zvezda: "\e909";

