// Functions
@function colour($value) {
  @return map-get($color, $value);
}

$color : (
	primary: #2b2f38,
	secondary: #383e43,
	warning: #c32429,
	success: #fa5522,
	light: #ffe2bc,
	gray: #7e7e7e,
	gray-white: #f7f7f7,
	white: #ffffff,
	black: #1d212a,
	green:  #159756,
	red:    #da4733,
	blue:   #3b78e7,
	yellow: #fdba2c
);


#zvezda .fil0 { fill: #fa5522;}
#chat .fil0 {fill:#fa5522}
// fix по просьбе заказчика. Все иконки чатов одного цвета
[data-hot="true"] #chat .fil0 {fill:#fa5522} 
#chelovek .fil0 {fill:#FFFFFF}
#chelovek .fil1 {fill:#F9F9F9}
#dota-svg .fil0 {fill:#c32429;fill-rule:nonzero}
#csgo .fil0 {fill:#406445}