<div class="content">
	<div class="content__container container">
		<div class="container__single-stream single-stream">
			<p class="single-stream__title">Cтрим: «{{ channelName }}»</p>
			<div [innerHTML]="iframe">
			</div>
		</div>
	</div>
</div>