<div class="content">
	<div class="content__container container" appMiracleRadio radio="2.73">
		<div class="container__content-news content-news">
			<div class="content-news__wrapper">

				<ng-container *ngIf="!primaryPosts">
				<ng-container *ngFor="let item of [1,2,3,4,5,6]">
				<div class="content-news__news-card news-card">
					<a class="news-card__link" routerLink="/">
						<img class="news-card__image">

						<div class="news-card__description">
							<object>
								<a routerLink="/"
									class="news-card__categories">
									&nbsp;
								</a>
							</object>
							<p class="news-card__title news-card__title_load"></p>
							<p class="news-card__title news-card__title_load"></p>
						</div>
					</a>
				</div>
				</ng-container>
				</ng-container>

				<ng-container *ngIf="primaryPosts">
				<ng-container *ngFor="let post of primaryPosts; index as i;">
				<div *ngIf="i<6" class="content-news__news-card news-card">
					<a class="news-card__link"
						[routerLink]="['/news/', post['miracle-post-category'].slug, post.post_name]">
						<img class="news-card__image" 
								title="{{post['miracle-post-image'].title}}"
								alt="{{post['miracle-post-image'].alt}}"
								src="{{post['miracle-post-image'].url}}">

						<div class="news-card__description">
							<object>
								<a [routerLink]="['/tag/', post['miracle-post-primary-tag'].slug]"
									class="news-card__categories">
									{{ post['miracle-post-primary-tag'].name }}
								</a>
							</object>
							<p class="news-card__title">
								{{ post.post_title }}
							</p>
						</div>
					</a>
				</div>
				</ng-container>
				</ng-container>

			</div>
		</div>
		<div class="container__news-list news-list">
			<a [routerLink]="['/news']" class="news-list__title news-list__title_mb">
				<span>
					Новости<br>
				</span>
			</a>

			<ng-container *ngFor="let item of todayPosts; index as i">
			<ng-container *ngIf="item.day_posts && item.day_posts.length > 0">
			<p class="news-list__title news-list__title_mt">
				<time class="news-list__date">
					{{ item.date | date:'d MMMM':timeZone:'ru-RU' }}
				</time>
			</p>

			<ng-container *ngFor="let post of item.day_posts">
			<a [routerLink]="['/news/', post.acf['miracle-post-category'].slug, post.slug]" class="news-list__link">
				
				<ng-container *ngIf="post.acf['miracle-post-game'] !== undefined">
				<div class="news-list__icon" 
					*ngIf="post.acf['miracle-post-game'].value === 'dota2'"
					[inlineSVG]="'dota2.svg'"
					title="{{ post.acf['miracle-post-game'].label }}"></div>
						
				<div class="news-list__icon" 
					*ngIf="post.acf['miracle-post-game'].value === 'cs'"
					[inlineSVG]="'csgo.svg'"
					title="{{ post.acf['miracle-post-game'].label }}"></div>
						
				<div class="news-list__icon" 
					*ngIf="post.acf['miracle-post-game'].value == 'custom'"
					[inlineSVG]="'zvezda.svg'"></div>
				</ng-container>
				
				<div class="news-list__separator
							separator
							separator_thin
							separator_start
							separator_black"></div>
				
				<span class="news-list__item">
					{{ post.title.rendered }}
				</span>
						
				<ng-container *ngIf="post.comment_count > 0">
				<object>
					<div class="news-list__comments" [attr.data-hot]="post.comment_count > 0">
						<a [routerLink]="['/news/', post.acf['miracle-post-category'].slug, post.slug]" fragment="comments">

							<div class="news-list__icon news-list__icon_chat" [inlineSVG]="'chat.svg'"></div>
						
							<span class="news-list__comments-count">
								{{ post.comment_count }}
							</span>

						</a>
					</div>
				</object>
				</ng-container>
			
			</a>
			</ng-container>

			</ng-container>
			</ng-container>

			<ng-container *ngIf="!todayPosts[0].day_posts.length && ((todayPosts[1] && !todayPosts[1].day_posts.length) || (!todayPosts[1]))">
			<p class="news-list__title news-list__title_mt">
				<time class="news-list__date">
					{{ todayPosts[0].date | date:'d MMMM':timeZone:'ru-RU' }}
				</time>
			</p>

			<ng-container *ngFor="let item of [1,1,1,1,1]">
			<a routerLink="/" class="news-list__link">
			
				<div class="news-list__icon" [inlineSVG]="'zvezda.svg'"></div>
				
				<div class="news-list__separator
							separator
							separator_thin
							separator_start
							separator_black"></div>
					
				<div class="news-list__group_load">
					<span class="news-list__item news-list__item_load"></span>
					<span class="news-list__item news-list__item_load"></span>
				</div>
					
				<div class="news-list__comments">
					<object>
						<div class="news-list__comments" data-hot="false" style="right: 1rem;">
							<a [routerLink]="['/']">
								<div class="news-list__icon news-list__icon_chat" [inlineSVG]="'chat.svg'"></div>
							</a>
						</div>
					</object>
				</div>

			</a>
			</ng-container>
			</ng-container>
		
		</div>
	</div>
	<div class="content__container container">
		<div class="container__news-list news-list" appMiracleHomePosts (sendForNews)="addPostsOnScroll()">

			<a [routerLink]="['/news']"
				class="news-list__title news-list__title_mb">
				Новости
			</a>

			<ng-container *ngIf="!posts[0].day_posts.length">
			<p class="news-list__title">
				<time class="news-list__date">
					{{ posts[0].date | date:'d MMMM':timeZone:'ru-RU' }}
				</time>
			</p>

			<a *ngFor="let item of [1,1,1,1,1,1,1,1]"
				routerLink="/"
				class="news-list__link">
				
				<div class="news-list__icon" [inlineSVG]="'zvezda.svg'"></div>
				
				<div class="news-list__separator
							separator
							separator_thin
							separator_start
							separator_black"></div>
				
				<div class="news-list__group_load">
					<span class="news-list__item news-list__item_load"></span>
					<span class="news-list__item news-list__item_load"></span>
				</div>
				
				<object>
					<div class="news-list__comments" data-hot="false">
						<a [routerLink]="['/']">
							<div class="news-list__icon news-list__icon_chat"
									[inlineSVG]="'chat.svg'"></div>
						</a>
					</div>
				</object>
			</a>
			</ng-container>

			<ng-container *ngIf="posts[0].day_posts.length">
			<ng-container *ngFor="let item of posts; index as i">
			<p class="news-list__title news-list__title_mt">
				<time class="news-list__date">
					{{ item.date | date:'d MMMM':timeZone:'ru-RU' }}
				</time>
			</p>

			<a *ngFor="let post of item.day_posts" [routerLink]="['/news/', post.acf['miracle-post-category'].slug, post.slug]"	class="news-list__link">
				
				<ng-container *ngIf="post.acf['miracle-post-game'] !== undefined">
					
				<div class="news-list__icon" 
					*ngIf="post.acf['miracle-post-game'].value == 'dota2'"
					[inlineSVG]="'dota2.svg'"
					[title]="post.acf['miracle-post-game'].label"></div>

				<div class="news-list__icon" 
					*ngIf="post.acf['miracle-post-game'].value == 'cs'"
					[inlineSVG]="'csgo.svg'"
					[title]="post.acf['miracle-post-game'].label"></div>

				<div class="news-list__icon" 
					*ngIf="post.acf['miracle-post-game'].value == 'custom'"
					[inlineSVG]="'zvezda.svg'"></div>
					
				</ng-container>
					
				<div class="news-list__separator
							separator
							separator_thin
							separator_start
							separator_black"></div>
						
				<span class="news-list__item">
					{{ post.title.rendered }}
				</span>

				<ng-container *ngIf="post.comment_count > 0">
				<object>
					<div class="news-list__comments" [attr.data-hot]="post.comment_count > 0">
						<a [routerLink]="['/news/', post.acf['miracle-post-category'].slug, post.slug]" fragment="comments">
				
							<div class="news-list__icon news-list__icon_chat" [inlineSVG]="'chat.svg'"></div>

							<span class="news-list__comments-count">
								{{ post.comment_count }}
							</span>
							
						</a>
					</div>
				</object>
				</ng-container>
			</a>
			</ng-container>
			</ng-container>

		</div>
		<div class="container__content-news"
			appMiracleHomePosts
			(sendForNews)="addVideoPostsOnScroll()">
			<div class="content-news content-news_mb">
				<div class="content-news__wrapper content-news__wrapper_width-streams">

					<ng-container *ngIf="!videoPosts.length">
					<div *ngFor="let item of [1,2,3]" class="content-news__news-card news-card">
						<a class="news-card__link" routerLink="/">
							<img class="news-card__image">

							<div class="news-card__description">
								<object>
									<a routerLink="/"
										class="news-card__categories">
										&nbsp;
									</a>
								</object>
								<p class="news-card__title news-card__title_load">
								</p>
								<p class="news-card__title news-card__title_load">
								</p>
							</div>
						</a>
					</div>
					</ng-container>
					
					<ng-container *ngFor="let post of videoPosts; index as i">
					<div *ngIf="i < 3" class="content-news__news-card	news-card">
						<a class="news-card__link" [routerLink]="['/news/', post.acf['miracle-post-category'].slug, post.slug]">
							
							<img *ngIf="post.acf['miracle-post-image']"
								class="news-card__image" 
								[title]="post.acf['miracle-post-image'].title"
								[alt]="post.acf['miracle-post-image'].alt"
								[src]="post.acf['miracle-post-image'].url">

							<div class="news-card__description">
								<object>
									<a  [routerLink]="['/tag/', post.acf['miracle-post-primary-tag'].slug]"
										class="news-card__categories">
										{{ post.acf['miracle-post-primary-tag'].name }} 
									</a>
								</object>
								<p class="news-card__title">
									{{ post.title.rendered }}
								</p>
							</div>

						</a>
					</div>
					</ng-container>

					<div class="content-news__news-card content-news__news-card_stream">
						<div class="news-card__stream-list stream-list">
							<a [routerLink]="['/stream']" class="stream-list__title">Стримы</a>
						</div>

						<ng-container *ngFor="let item of stream; index as i">
						<div *ngIf="i < 10"
							  class="stream-list__stream-card stream-card"
							  appMiracleRadio
							  radio="1.57">
							<a [routerLink]="['/stream/', item.channel.name]"
								class="stream-card__link">
							
								<img [src]="item.channel.profile_banner"
									 class="stream-card__image">
							
								<div class="stream-card__description">
									<p class="stream-card__title">
										{{ item.channel.display_name }}
									</p>
								</div>
							
							</a>
						</div>
						</ng-container>
						
					</div>
				</div>
			</div>

<ng-container *ngFor="let item of videoPosts; index as i">
	<div class="content-news content-news_mb" *ngIf="(i-2)%6 == 0 && videoPosts[i+1]">
		<div class="content-news__wrapper" [ngClass]="{ 'content-news__wrapper_content-left': ((i-2)/6)%2 }">
			
			<ng-container  *ngFor="let j of [0,1,2,3,4,5]">
			<div class="content-news__news-card	news-card" *ngIf="videoPosts[i+j+1]">
				<a class="news-card__link" [routerLink]="['/news/', videoPosts[i+1+j].acf['miracle-post-category'].slug, videoPosts[i+1+j].slug]">
					<img *ngIf="videoPosts[i+1+j].acf['miracle-post-image']"
						class="news-card__image" 
						[title]="videoPosts[i+1+j].acf['miracle-post-image'].title"
						[alt]="videoPosts[i+1+j].acf['miracle-post-image'].alt"
						[src]="videoPosts[i+1+j].acf['miracle-post-image'].url">

					<div class="news-card__description">
						<object>
							<a [routerLink]="['/tag/', videoPosts[i+1+j].acf['miracle-post-primary-tag'].slug]" class="news-card__categories">
								{{ videoPosts[i+1+j].acf['miracle-post-primary-tag'].name }}
							</a>
						</object>
						
						<p class="news-card__title">
							{{ videoPosts[i+1+j].title.rendered }}
						</p>
					</div>
				</a>
			</div>
			</ng-container>
		</div>
	</div>
</ng-container>

		</div>
	</div>
</div>