<div class="post-description__comment comment">
	<p class="comment__title" *ngIf="comment_count > 0">
		Комментарии
	</p>
	<ng-container *ngIf="result">
	<app-single-comment *ngFor="let comment of result"
						class="comment__block"
						(answer)="subComment($event)"
						postID="{{postId}}"
						commentID="{{comment.id}}"
						parentComment="{{comment.id}}"
						[childs]="comment.childs"
						commentAuthorAvatarUrl="{{ comment.custom_author_avatar_urls ? comment.custom_author_avatar_urls : comment.author_avatar_urls['96']}}"
						authorName="{{comment.author_name}}"
						commentDate="{{comment.date}}"
						commentContent="{{comment.content.rendered}}">
	</app-single-comment>
	</ng-container>

	<div class="comment-form" [ngClass]="{ 'comment-form_open': commentFormOpen }" *ngIf="loggedUser.get()" #commentForm>
		<button class="comment-form__open-button" [ngClass]="{ 'comment-form__open-button_active-form': commentFormOpen }" (click)="commentFormOpen = !commentFormOpen" #button>
			<i class="fas fa-chevron-up"></i>
		</button>
		<form class="comment-form__form" (submit)="sendComment($event, commentContent)">
			<div [attr.aria-busy]="loadCommentForm"
					aria-label="Loading, please wait."
					role="progressbar"
					class="modal__load"></div>

			<div *ngIf="loggedUser.get()" class="comment-form__user">
				<div class="comment-form__user-avatar-container">
					<img src="{{ loggedUser.get().acf.user_avatar ? loggedUser.get().acf.user_avatar.sizes.thumbnail : loggedUser.get().avatar_urls['96'] }}" class="comment-form__user-avatar">
				</div>
				<p class="comment-form__user-nickname">
					{{ loggedUser.get().name }}
				</p>
			</div>

			<div class="comment-form__field-contents">
				<p class="comment-form__answer-field" *ngIf="subCommentId > 0">
					Ответить: {{ subCommentAuthor }}
					<button type="button" (click)="clearAnswer($event)"
							class="comment-form__answer-field-close">
						<i class="far fa-times-circle"></i>
					</button>
				</p>
				<textarea name="comment"
					class="comment-form__text-field"
					placeholder="Оставить комментарий"
					#commentContent></textarea>
			</div>
			
			<input type="hidden" [value]="subCommentId" #parentComment>
			<input type="hidden" [value]="subCommentAuthor" #inputParentComment>
			<button type="submit" class="comment-form__form-submit" (submit)="$event.preventDefault();">
				<i class="fas fa-location-arrow"></i>
			</button>
		</form>
	</div>
</div>