<div class="content">
	<div class="content__container container">
		<div class="container__archive-stream archive-stream">
			
			<p class="archive-stream__title">
				Стримы
			</p>

			<div class="archive-stream__cat-navigation">
				
				<ng-container *ngFor="let cat of categories">
				<button class="archive-stream__category"
						[ngClass]="{ 'archive-stream__category_active': (activeCategory == cat.slug) }"
						[attr.data-cat]="cat.slug"
						(click)="activeCat(cat.slug)">
					{{ cat.name }}
				</button>
				</ng-container>

			</div>

			<div class="archive-stream__content">
				
				<ng-container *ngFor="let stream of streams">
				<div *ngIf="stream.show"
					  [@streamAnimation]
					  class="archive-stream__stream-card stream-card"
					  appMiracleRadio
					  radio="1.57">

					<a class="stream-card__link" [routerLink]="['/stream/', stream.channel.name]">
						<img class="stream-card__image" [src]="stream.channel.profile_banner">

						<div class="stream-card__description">
							<p class="stream-card__title">
								{{ stream.channel.display_name }}
							</p>
						</div>
					</a>

				</div>
				</ng-container>

			</div>
		</div>
	</div>
</div>