<div class="content">
	<div class="content__container">
		
		<a [routerLink]="['/news']" class="content__title">
			Новости
		</a>

		<div class="content__container container"
			appMiracleRadio
			radio="1"
			radioMobileL="{{ 2/3 }}">

			<div class="content-news__wrapper content-news__wrapper_tablet">

				<ng-container *ngIf="posts">
				<div *ngFor="let post of posts; index as i;"
						class="content-news__news-card news-card">
					
					<a class="news-card__link" [routerLink]="['/news/', post.acf['miracle-post-category'].slug, post.slug]">
						
						<img
							*ngIf="post.acf['miracle-post-image']"
							class="news-card__image" 
							[title]="post.acf['miracle-post-image'].title"
							[alt]="post.acf['miracle-post-image'].alt"
							[src]="post.acf['miracle-post-image'].url">

						<img
							*ngIf="!post.acf['miracle-post-image']"
							class="news-card__image news-card__image_undefinet" 
							[title]="post.title.rendered"
							alt="">

						<div class="news-card__description news-card__description_tablet">
							<object>
								<a [routerLink]="['/tag/', post.acf['miracle-post-primary-tag'].slug]"
									class="news-card__categories news-card__categories_tablet">
									{{ post.acf['miracle-post-primary-tag'].name }}
								</a>
							</object>
							<p class="news-card__title news-card__title_tablet">
								{{ post.title.rendered }}
							</p>
						</div>
					</a>
				</div>
				</ng-container>

			</div>
		</div>
		
		<a [routerLink]="['/news']" class="content__out-link">
			Смотреть еще <i class="fas fa-chevron-right"></i>
		</a>
		
		<a [routerLink]="['/stream']" class="content__title">
			Стримы
		</a>
		
		<p class="content__online-stream-count">
			online ({{ stream ? stream.length : 0 }})
		</p>

		<div class="content__container container" appMiracleRadio radio="3" radioMobile="1">
			<div class="content-news__wrapper content-news__wrapper_tablet-stream">

				<div *ngIf="viewStream" class="content-news__news-card news-card">
					<a class="news-card__link" [routerLink]="['/stream/', viewStream.channel.name]">
						<img class="news-card__image" [title]="viewStream.game" [alt]="viewStream.game" [src]="viewStream.channel.profile_banner">

						<div class="news-card__description news-card__description_tablet">
							<object>
								<p class="news-card__categories news-card__categories_tablet">
									{{ viewStream.game }}
								</p>
							</object>
							<p class="news-card__title news-card__title_tablet news-card__title_tablet-stream">
								{{ viewStream.channel.display_name }}
							</p>
						</div>
					</a>
				</div>

				<div class="content-news__news-card content-news__news-card_stream">
					<div class="news-card__stream-list stream-list">
						<a [routerLink]="['/stream']" class="stream-list__title">
							Стримы
						</a>

						<ng-container *ngFor="let item of stream; index as i">
							<p class="stream-list__stream-item" ngClass="{ 'stream-list__stream-item_active': (item === viewStream) }" (click)="setViewStream(item)">
						
								<span></span>

								<span>
									{{ item.channel.display_name }}
								</span>

								<span>
									<i class="fas fa-eye"></i>
									{{ item.channel.followers }}
								</span>

							</p>
						</ng-container>
					
					</div>

				</div>

			</div>
		</div>
		
		<a [routerLink]="['/stream']" class="content__out-link">
			Смотреть все <i class="fas fa-chevron-right"></i>
		</a>
		
		<p class="content__title">
			Горячие
		</p>

		<ng-container *ngFor="let post of primaryPosts; index as i;">
		<ng-container *ngIf="i < 3">
		<div class="content-news__news-card news-card" appMiracleRadio radio="2">
			<a class="news-card__link"
				[routerLink]="['/news/', post['miracle-post-category'].slug, post.post_name]">
				<img
					*ngIf="post['miracle-post-image']"
					class="news-card__image" 
					[title]="post['miracle-post-image'].title"
					[alt]="post['miracle-post-image'].alt"
					[src]="post['miracle-post-image'].url">

				<img
					*ngIf="!post['miracle-post-image']"
					class="news-card__image news-card__image_undefinet" 
					[title]="post.post_title"
					alt="">

				<div class="news-card__description news-card__description_tablet news-card__description_tablet-big">
					<object>
						<a [routerLink]="['/tag/', post['miracle-post-primary-tag'].slug]"
							class="news-card__categories news-card__categories_tablet">
							{{ post['miracle-post-primary-tag'].name }}
						</a>
					</object>
					<p class="news-card__title news-card__title_tablet">
						{{ post.post_title }}
					</p>
				</div>
			</a>
		</div>
		
		<p class="content__post-description" [innerHTML]="stripTags(post.post_content)"></p>

		<div class="content__post-link">
			<a [routerLink]="['/tag/', post['miracle-post-primary-tag'].slug]" class="content__post-link-url">
				Читать далее...
			</a>
		</div>
		</ng-container>
		</ng-container>
		
		<a [routerLink]="['/news']" class="content__out-link">
			Смотреть все <i class="fas fa-chevron-right"></i>
		</a>
		
		<a [routerLink]="['/news/video']" class="content__title">
			Видео
		</a>

		<ng-container *ngFor="let post of videoPosts; index as i;">
		<ng-container *ngIf="i < 3">
		<div class="content-news__news-card news-card" appMiracleRadio radio="2">
			<a class="news-card__link"
				[routerLink]="['/news/', post.acf['miracle-post-category'].slug, post.slug]">
				<img
					*ngIf="post.acf['miracle-post-image']"
					class="news-card__image" 
					[title]="post.acf['miracle-post-image'].title"
					[alt]="post.acf['miracle-post-image'].alt"
					[src]="post.acf['miracle-post-image'].url">

				<img
					*ngIf="!post.acf['miracle-post-image']"
					class="news-card__image news-card__image_undefinet" 
					[title]="post.title.rendered"
					alt="">

				<div class="news-card__description news-card__description_tablet news-card__description_tablet-big">
					<object>
						<a [routerLink]="['/tag/', post.acf['miracle-post-primary-tag'].slug]"
							class="news-card__categories news-card__categories_tablet">
							{{ post.acf['miracle-post-primary-tag'].name }}
						</a>
					</object>
					<p class="news-card__title news-card__title_tablet">
						{{ post.title.rendered }}
					</p>
				</div>
			</a>
		</div>
		
		<p class="content__post-description" [innerHTML]="stripTags(post.content.rendered)"></p>

		<div class="content__post-link">
			<a [routerLink]="['/tag/', post.acf['miracle-post-primary-tag'].slug]" class="content__post-link-url">
				Читать далее...
			</a>
		</div>
		</ng-container>
		</ng-container>
		
		<a [routerLink]="['/news/video']" class="content__out-link">
			Смотреть все <i class="fas fa-chevron-right"></i>
		</a>

	</div>
</div>