.allMatchLink{

	display: flex;
	position: relative;
	width: 8rem;
	height: 8rem;
	margin-right: 10px;

	&::before{
		content: '';
		width: calc( 100% - 2px );
		height: calc( 100% - 2px );
		position: absolute;
		z-index: 4;
		top: 1px;
		left: 1px;
		background: linear-gradient(to bottom,
			                          rgba( map-get( $color, warning ), 1) 0%,
			                          rgba( map-get( $color, warning ), 0) 40%,
			                          rgba( map-get( $color, warning ), 0) 60%,
			                          rgba( map-get( $color, warning ), 1) 100%);
		border-radius: 100%;
		transition: all .4s ease;
	}

	&:hover{
		&::before{
			transform: scale(1.05) rotate(360deg);
		}
	}

	&__link{
		position: relative;
		z-index: 5;
		background-color: map-get( $color, primary );
		width: 100%;
		height: 100%;
		margin: auto;
		border-radius: 100%;
		font-size: 1.8rem;
		position: relative;
		color: map-get( $color, white );
		text-align: center;
		line-height: 1;
		padding: calc( 50% - 1.8rem ) 0;
		font-weight: 300;
		text-transform: uppercase;
		transition: all .4s ease;

		&:hover{
			text-decoration: none;
			color: map-get( $color, white );
		}

		&:focus{
			outline: none;
		}
	}
}