.archive-stream{
	width: 100%;
	background-color: colour(gray-white);
	box-shadow: 0 0 10px 1px rgba( map-get( $color, black ), 0.5 );
	padding: 2rem;
	height: 100%;

	&__title{
		font-size: 4.5rem;
		font-family: 'Roboto';
		font-weight: bold;
		line-height: 1;
		color: colour( success );
		text-align: center;
		margin: 0;
	}

	&__cat-navigation{
		display: flex;
		margin: 2rem auto 4rem;
		flex-direction: row;
		justify-content: center;
	}

	&__category{
		font-size: 2.6rem;
		font-family: 'Roboto';
		font-weight: 600;
		line-height: 1;
		padding: 0.5rem 2.5rem;
		color: colour( gray-white );
		outline: none !important;
		border: 1px solid colour(success);
		background-color: colour(success);
		transition: all .25s ease;

		&:first-child{
			border-top-left-radius: 1rem;
			border-bottom-left-radius: 1rem;
		}

		&:last-child{
			border-top-right-radius: 1rem;
			border-bottom-right-radius: 1rem;
		}

		&_active, &:hover{
			color: colour(success);
			background-color: colour(gray-white);
		}
	}

	&__content{
		display: flex;
		flex-direction: row;
		justify-content: flex-start;
		flex-wrap: wrap;
	}

	&__stream-card{
		width: calc( 100% / 5 - 8rem / 5 );
		margin-bottom: 2rem;
		margin-right: 2rem;

		&:nth-of-type(5n+5){
			margin-right: 0;
		}
	}
}