.authorization{

	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	align-items: center;

	&__icon{
		display: table;
		width: 3rem;
	}

	&__user{
		line-height: 1;
		color: map-get( $color, white );
		font-weight: 400;
		font-size: 1.8rem;
		display: block;
		text-align: center;
		margin-bottom: 0;
		cursor: pointer;
		min-width: 105px;

		&-menu {
			margin: 0;

			& > * {
				min-width: 105px;
			}
		}

		a { 
			color: white;
		}
	}

	&__user-avatar{
		width: auto;
		height: 100%;

		@supports ( object-fit: cover ){
			object-fit: cover;
			width: 100%;
		}

		&-container{
			height: 3rem;
			width: 3rem;
			overflow: hidden;
			margin-right: 0.5rem;
			border-radius: 100%;
			box-shadow: 0 0 10px 1px rgba( map-get( $color, black ), 0.5 );
		}
	}
}