.comment-form{
	bottom: 0;
	left: 0;
	right: 0;
	position: fixed;
	z-index: 10;
	padding: 1rem;
	background: colour( success );
	box-shadow: 0 0 10px 1px rgba( colour( black ), 0.5);
	transform: translateY(100%);
	transition: all 300ms ease;

	&_open{
		transform: translateY(0%);
	}

	&__open-button{
		position: absolute;
		top: 0;
		left: 50%;
		width: 12rem;
		height: 8rem;
		font-size: 3rem;
		border-radius: 30%/50%;
		border: none;
		outline: none !important;
		transform: translateY(-50%) translateX(-50%);
		background-color: colour(success);

		.fa-chevron-up{
			position: relative;
			top: -0.5em;
			color: colour(gray-white);
			transition: all 300ms ease;
		}

		&_active-form{
			.fa-chevron-up{
				transform: rotate(180deg);
			}
		}

		&:hover{
			.fa-chevron-up{
				color: darken( colour(gray-white), 10 );
			}
		}
	}

	&__form{
		max-width: map-get( $display, large );
		position: relative;
		margin: 0 auto;
		padding: 1rem 6rem;
		display: flex;
		flex-direction: row;
		flex-wrap: nowrap;
		justify-content: flex-start;
		align-items: stretch;

		&-submit{
			position: absolute;
			bottom: 0;
			right: 2.5rem;
			border-radius: 100%;
			width: 7rem;
			height: 7rem;
			font-size: 4rem;
			color: colour( success );
			line-height: 0;
			border: 2px solid lighten( colour( success ), 10 );
			box-shadow: 0 0 10px 1px rgba( colour( black ), 0.5);
			background: colour( white );

			&:hover{
				border: 2px solid darken( colour( success ), 10 );
				box-shadow: 0 0 10px 1px rgba( colour( black ), 0.5);
				background: darken( colour( white ), 10 );
				color: darken( colour( success ), 10 );
			}

			&:active, &:focus{
				outline: none;
			}
		}
	}

	&__field-contents{
		margin-left: 2rem;
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
	}

	&__answer-field{
		color: colour( black );
		font-size: 1.6rem;
		font-weight: 300;
		line-height: 1.2;
		font-family: Roboto;
		margin-bottom: 1rem;
		flex-shrink: 0;

		&-close{
			background: transparent;
			border: none;

			&:active, &:focus{
				outline: none;
			}
		}
	}

	&__user{
		flex-shrink: 0;
		display: inline-flex;
		flex-direction: column;
		align-items: center;
	}

	&__user-nickname{
		color: colour( black );
		font-size: 1.6rem;
		font-weight: 400;
		line-height: 1.2;
		font-family: Roboto;
		margin: 1rem 0 0;
		display: none;
	}

	&__user-avatar{
		min-width: 100%;
		min-height: 100%;
		width: auto;
		height: auto;
		-webkit-user-drag: none;

		@supports ( object-fit: cover ){
			width: 100%;
			height: 100%;
			object-fit: cover;
		}

		@supports not ( object-fit: cover ){
			width: 200%;
			position: relative;
			left: -50%;
		}

		&-container{
			width: 10rem;
			height: 10rem;
			flex-shrink: 0;
			position: relative;
			overflow: hidden;
			border-radius: 100%;
			border: 2px solid lighten( colour( success ), 10 );
			box-shadow: 0 0 10px 1px rgba( colour( black ), 0.5);
		}
	}

	&__text-field{
		margin-top: 0px;
		width: 100%;
		height: 100%;
		margin-bottom: 0px;
		margin: 0;
		resize: none;
		color: colour( black );
		font-size: 1.6rem;
		font-weight: 400;
		line-height: 1.2;
		font-family: Roboto;
		padding: 1rem;
		border: none;
		box-shadow: 0 0 10px 1px rgba( colour( black ), 0.5);
	}
}