.comment{

	padding-bottom: 14rem;

	&__title{
		margin: 0 0 3rem;
		font-size: 3.6rem;
		font-weight: bold;
		font-family: Roboto;
		line-height: 1;
		color: colour( success );
		text-align: center;
	}

	&__block{
		display: flex;
		flex-direction: row;
		flex-wrap: nowrap;
		align-items: flex-start;
		justify-content: flex-start;
		padding-bottom: 2rem;

		&_subcomment{
			border-left: 1px solid colour( success );
			padding-left: 2rem;
		}
	}

	&__content{
		width: 100%;
	}

	&__content-info{
		display: inline-flex;
		flex-direction: row;
		justify-content: flex-start;
		align-items: baseline;
		margin-bottom: 1rem;

		&-nickname{
			color: colour( success );
			font-size: 2.4rem;
			font-weight: 400;
			line-height: 1.2;
			font-family: Roboto;
			margin: 0;
			transition: all .3s ease;
			text-decoration: none;
			cursor: pointer;

			&:hover{
				text-decoration: none;
				color: darken( colour( success ), 20 );
			}
		}

		&-date{
			color: colour( black );
			font-size: 1.6rem;
			font-weight: 300;
			line-height: 1.2;
			font-family: Roboto;
			margin: 0;
		}
	}

	&__description{
		color: colour( black );
		font-size: 1.6rem;
		font-weight: 300;
		line-height: 1.2;
		font-family: Roboto;
		margin: 0;
	}

	&__wrapper{
		min-height: 10rem;
		margin-left: 1rem;

		&:hover{
			.comment__answer{
				opacity: 1;
			}
		}
	}

	&__author-image{
		min-width: 100%;
		min-height: 100%;
		width: auto;
		height: auto;
		-webkit-user-drag: none;

		@supports ( object-fit: cover ){
			width: 100%;
			height: 100%;
			object-fit: cover;
		}

		@supports not ( object-fit: cover ){
			width: 200%;
			position: relative;
			left: -50%;
		}

		&-container{
			width: 10rem;
			height: 10rem;
			flex-shrink: 0;
			position: relative;
			overflow: hidden;
			border-radius: 100%;
			border: 2px solid colour( success );
			box-shadow: 0 0 10px 1px rgba( colour( black ), 0.5);
		}
	}

	&__answer{
		border: none;
		background: transparent;
		color: colour( success );
		padding: 0;
		font-size: 1.8rem;
		font-weight: 300;
		margin-bottom: 2rem;
		opacity: 0;
		transition: all 200ms ease-in;
		outline: none;

		&:hover{
			color: darken( colour( success ), 20 );
		}

		&:active, &:focus{
			outline: none;
		}
	}
}

app-single-comment>div>app-single-comment>div>app-single-comment>div>app-single-comment{
	margin-left: -12rem !important;
	border-left: none !important;
}