.content{
	background-color: map-get( $color, gray-white );
	padding: 3rem 1rem 2rem;
	min-height: calc( 100vh - 18rem );

	&__container{
		max-width: map-get( $display, large );
		margin: 0 auto 1rem;

		@media screen and (max-width: map-get( $display, medium ) ) {
			max-width: map-get( $display, small );
		}
	}

	&__title{
		font-family: 'Roboto';
		color: colour(success);
		font-weight: bold;
		font-size: 4.8rem;
		display: block;
		text-align: center;
		outline: none !important;
		line-height: 1;
		margin-bottom: 2rem;
		
		&:hover{
			text-decoration: none;
			color: colour(warning);
			text-shadow: 0 0 1px colour(warning);
		}
	}

	&__out-link{
		font-size: 3.5rem;
		margin: 1rem 0;
		display: inline-block;
		font-family: Roboto;
		font-weight: 300;
		color: colour( gray );
		transition: all 300ms ease;

		&:hover{
			color: darken( colour( gray ), 10 );
			text-decoration: none;

			& > svg{
				color: darken( colour( success ), 10 );
			}
		}

		& > svg{
			color: colour( success );
			margin-left: 1rem;
		}

		@media screen and ( max-width: map-get( $display, mobile ) ) {
			font-size: 2.5rem;
		}
	}

	&__online-stream-count{
		text-align: center;
		color: colour( gray );
		margin-bottom: 2rem;
		font-size: 3rem;
		font-weight: 300;
		font-family: 'Roboto';
		line-height: 1;

		@media screen and ( max-width: map-get( $display, small ) ) {
			margin-top: -2rem;
		}
	}

	&__post-description{
		margin: 1rem 0;
		font-size: 3rem;
		font-weight: 300;
		font-family: 'Roboto';
		line-height: 1.2;
		min-height: 3.6em;
		max-height: 3.6em;
		overflow: hidden;
		color: colour( gray );

		@supports ( -webkit-line-clamp: 3 ) and ( display: -webkit-box ) and ( -webkit-box-orient: vertical ) {
			-webkit-line-clamp: 3;
			display: -webkit-box;
			-webkit-box-orient: vertical;
		}
	}

	&__post-link-url{
		margin-bottom: 4rem;
		font-size: 3rem;
		font-weight: 300;
		font-family: 'Roboto';
		line-height: 1.2;
		color: colour( success );
		display: inline-block;

		&:hover{
			text-decoration: none;
			color: darken( colour( success ), 20 );
		}
	}
}