.content-news {
	background-color: darken( map-get( $color, gray-white ), 3 );
	box-shadow: 0 0 10px 1px rgba( map-get( $color, black ), 0.5 );
	padding: 1rem;
	height: 100%;

	@supports not ( display: grid ){
		padding: 0.5rem;
	}

	&__wrapper{
		width: 100%;
		max-height: 100%;
		height: 51rem;

		@supports ( display: grid ){
			display: grid;
			grid-template-areas: 'a b b' 'c b b' 'd e f';
			grid-template-columns: 1fr 1fr 1fr;
			grid-template-rows: 1fr 1fr 1fr;
			grid-gap: 1rem;
		}

		@supports not ( display: grid ){
			display: block;
			overflow: hidden;
		}

		&_width-streams{

			@supports ( display: grid ){
				grid-template-areas: "  big      big     streams"
									 "  big      big     streams"
									 "smallOne smallTwo  streams";
			}
		}

		&_content-left{
			@supports ( display: grid ){
				grid-template-areas: 'b b a' 'b b c' 'f e d';
			}
		}

		&_tablet{
			height: 80rem;

			@supports ( display: grid ){
				grid-template-areas: 'b b' 'a c';
				grid-template-columns: 1fr 1fr;
				grid-template-rows: 2fr 1fr;

				@media screen and ( max-width: map-get( $display, semi ) ) {
					grid-template-areas: 'a' 'b' 'c';
					grid-template-columns: 1fr;
					grid-template-rows: 1fr 1fr 1fr;
					min-height: 100%;
					height: auto;
				}
			}

			@media screen and ( max-width: map-get( $display, semi ) ) {
				.news-card__description_tablet{
				    font-size: 4rem;
				}
			}

			@media screen and ( max-width: map-get( $display, mobile ) ) {
				.news-card__description_tablet{
				    font-size: 2rem;
				}
			}

			&-stream{
				height: 27.5rem;

				@supports ( display: grid ){
					grid-template-areas: 'a b';
					grid-template-columns: 3fr 2fr;
					grid-template-rows: 1fr;
				}

				@media screen and (max-width: map-get($display, small)) {
					height: 100%;
					position: relative;

					@supports ( flex-direction: column-reverse ){
						display: flex;
						flex-direction: column-reverse;
					}
				}

				.content-news__news-card_stream{
					overflow: auto;
					padding-right: 1rem;
					max-width: 100%;

					@media screen and (max-width: map-get($display, small)) {
						height: 50%;
						margin-bottom: 2rem;
					}

					&::-webkit-scrollbar{
						width: 7px;
						background-color: transparent;
					}

					&::-webkit-scrollbar-track{
						background: linear-gradient(to right,
							                                rgba( map-get( $color, warning ), 0 ) 0%,
							                                rgba( map-get( $color, warning ), 0 ) 40%,
							                                rgba( map-get( $color, warning ), 1 ) 40%,
							                                rgba( map-get( $color, warning ), 1 ) 60%,
							                                rgba( map-get( $color, warning ), 0 ) 60%,
							                                rgba( map-get( $color, warning ), 0 ) 100%);
					}

					&::-webkit-scrollbar-thumb{
						background-color: map-get( $color, warning );
						border-radius: 1em;
					}

					&::-webkit-scrollbar-button{
						background-color: transparent;
					}
				}

				.news-card .news-card__description_tablet{
					@media screen and ( max-width: map-get( $display, small ) ) {
						font-size: 5rem;
					}

					@media screen and ( max-width: map-get( $display, semi ) ) {
						font-size: 4rem;
					}

					@media screen and ( max-width: map-get( $display, mobile ) ) {
						font-size: 2rem;
					}
				}
			}
		}
	}

	&__news-card{

		@supports not ( display: grid ){
			margin: 0.5rem;
		}

		&:nth-of-type(1){
			@supports ( display: grid ){
				grid-area: a;
			}
			@supports not ( display: grid ){
				width: calc( 100% / 3 - 1rem );
				height: calc( 100% / 3 - 1rem );
				float: left;
			}
		}

		&:nth-of-type(2){
			@supports ( display: grid ){
				grid-area: b;
			}
			@supports not ( display: grid ){
				width: calc( 200% / 3 - 1rem );
				height: calc( 200% / 3 - 1rem );
				float: right;
			}
			.news-card__description{
				font-size: 3rem;

				&_tablet{
					font-size: 6rem;

					@media screen and ( max-width: map-get( $display, small ) ) {
						font-size: 5rem;
					}

					@media screen and ( max-width: map-get( $display, semi ) ) {
						font-size: 4rem;
					}

					@media screen and ( max-width: map-get( $display, mobile ) ) {
						font-size: 2rem;
					}
				}
			}
		}

		&:nth-of-type(3){
			@supports ( display: grid ){
				grid-area: c;
			}
			@supports not ( display: grid ){
				width: calc( 100% / 3 - 1rem );
				height: calc( 100% / 3 - 1rem );
				float: left;
			}
		}

		&:nth-of-type(4){
			@supports ( display: grid ){
				grid-area: d;
			}
			@supports not ( display: grid ){
				width: calc( 100% / 3 - 1rem );
				height: calc( 100% / 3 - 1rem );
				float: left;
			}
		}

		&:nth-of-type(5){
			@supports ( display: grid ){
				grid-area: e;
			}
			@supports not ( display: grid ){
				width: calc( 100% / 3 - 1rem );
				height: calc( 100% / 3 - 1rem );
				float: left;
			}
		}

		&:nth-of-type(6){
			@supports ( display: grid ){
				grid-area: f;
			}
			@supports not ( display: grid ){
				width: calc( 100% / 3 - 1rem );
				height: calc( 100% / 3 - 1rem );
				float: left;
			}
		}
	}

	&__wrapper_width-streams{
		.content-news__news-card{
			&:nth-of-type(1){
				@supports ( display: grid ){
					grid-area: big;
				}
				.news-card__description{
					font-size: 3rem;
				}
			}

			&:nth-of-type(2){
				@supports ( display: grid ){
					grid-area: smallOne;
				}
				.news-card__description{
					font-size: 2rem;
				}
			}

			&:nth-of-type(3){
				@supports ( display: grid ){
					grid-area: smallTwo;
				}
			}

			&.content-news__news-card_stream{
				@supports ( display: grid ){
					grid-area: streams;
				}

				overflow: auto;
				padding-right: 1rem;
				max-height: 100%;

				&::-webkit-scrollbar{
					width: 7px;
					background-color: transparent;
				}

				&::-webkit-scrollbar-track{
					background: linear-gradient(to right,
						                                rgba( map-get( $color, warning ), 0 ) 0%,
						                                rgba( map-get( $color, warning ), 0 ) 40%,
						                                rgba( map-get( $color, warning ), 1 ) 40%,
						                                rgba( map-get( $color, warning ), 1 ) 60%,
						                                rgba( map-get( $color, warning ), 0 ) 60%,
						                                rgba( map-get( $color, warning ), 0 ) 100%);
				}

				&::-webkit-scrollbar-thumb{
					background-color: map-get( $color, warning );
					border-radius: 1em;
				}

				&::-webkit-scrollbar-button{
					background-color: transparent;
				}
			}
		}
	}

	&_mb{
		margin-bottom: 1rem;
	}
}

