.container{
	width: 100%;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-items: flex-start;

	&__content-news{
		width: 61.75%;
		max-height: 100%;

		&_primary{
			.content-news{
				margin-bottom: 1rem;
			}
		}
	}

	&__post-description{
		
	}

	&__news-list{
		width: calc( 38.25% - 1rem );
		max-height: 100%;
	}
}