.form {
	display: flex;
	flex-direction: column;
	width: 100%;
	font-size: 2.7rem;
	position: relative;

	& > * {
		margin-bottom: 2rem;
	}

	&__submit {
		position: absolute;
		@include box-shadow(map-get($color, black));
		bottom: -1em;
		right: -1em;
		background-color: map-get($color, success);
		margin-bottom: 0;
		border-radius: 50%;
		padding: 1rem 1.1rem;
		line-height: 1;
		cursor: pointer;
		transition: all 0.5s ease;
		border: none;
		outline: none;

		&:hover {
			box-shadow: 1px 2px 10px black;
		}

		&:active {
			box-shadow: none;
			transform: scale(0.9);
		}

		* {
			color: white;
		}
	}

	&__field {
		position: relative;
		margin-bottom: 3.5rem;
		max-height: 44px;

		input {
			width: 100%;
			font-size: 2rem;
			font-weight: 100;
			border: none;
			border-bottom: 1px solid darken(map-get($color, gray-white), 40);
			color: black;
			outline: none;
			background-color: transparent;
			padding: 8px 0 8px;

			&:hover {
				border-bottom-width: 2px;
				padding: 8px 0 7px;
				cursor: pointer;
			}
		}

		span {
			opacity: 0;
		}

		label {
			position: absolute;
			left: 0;
			right: auto;
			bottom: 100%;
			top: 0;
			transform: translate3d(0,4px,0) scale(1);
			transition: transform 0.4s cubic-bezier(0.25,0.8,0.25,1);
			// transition: all 0.5s linear;
			pointer-events: none;
			transform-origin: left top;
			font-weight: 100;
		}

		&_focus {
						
			input {
				border-bottom: 1px solid map-get($color, success);              
			}

			label {
				color: map-get($color, success);
				margin-bottom: 0;
				transform: translate3d(0,-0.7em,0) scale(0.75);
			}
		}

		&_error {
						
			input {
				color: red;
				border-bottom-color: red;
			}

			label {
				color: red;
				font-weight: 400;
				animation-name: error;
				animation-duration: 0.3s;
				animation-delay: 0.1s;
			}

			span:not(.not-error) {
				opacity: 1;
				font-size: 1.2rem;
				position: absolute;
				color: red;
				bottom: -21px;
			}
		}

		&-checkbox {
			line-height: 1;
			display: flex;
			justify-content: flex-start;
			align-items: center;

			input[type="checkbox"] {
				display: none;
			}

			label {
				position: relative;
				font-weight: 100;
				line-height: 1;
				margin-bottom: 0;
				cursor: pointer;
				font-size: 1.5rem;
				padding-left: 40px;
				min-height: 25px;
				margin-left: -40px;
				padding-top: 5px;
			}

			.fa-check-square,
			.fa-square {
				color: map-get($color, success);
				margin-right: 1.5rem;
			}
		}
	}
}


@keyframes error {
	from, to {
		transform: translate3d(0, -0.7em, 0) scale(0.75);
	}

	20%{
		transform: translate3d(-5px, -0.7em, 0) scale(0.75);
	}

	40% {
		transform: translate3d(5px, -0.7em, 0) scale(0.75);
	}

	60% {
		transform: translate3d(-2px, -0.7em, 0) scale(0.75);
	}

	80% {
		transform: translate3d(2px, -0.7em, 0) scale(0.75);
	}

	100% {
		transform: translate3d(-1px, -0.7em, 0) scale(0.75);
	}
}