.front-card{

	overflow: hidden;

	&__item{
		position: absolute;
		background: map-get( $color, primary );
		top: 0;
		width: 100%;
		height: calc( 100% / 3 );
		display: flex;
		align-items: center;
		transform: translateY( -100% );

		&:first-of-type{
			transition: all .1s linear .2s;
			z-index: 3;
		}

		&:nth-of-type(2){
			transition: all .2s linear .1s;
			z-index: 2;
		}

		&:last-of-type{
			transition: all .3s linear 0s;
			z-index: 1;
		}
	}

	&__link{
		margin: auto;
		font-size: 2rem;
		font-family: Roboto;
		color: map-get( $color, white );
		text-transform: uppercase;
		font-weight: 300;
		line-height: 1.5;
		transition: all .1s ease;

		&:hover{
			text-decoration: none;
			color: map-get( $color, warning );
			text-shadow: 0 0 2px map-get( $color, warning );
		}
	}

	&__separator{
		position: absolute;
		top: 0;
		left: 0;

		&_top-line{
			z-index: 5;
			width: calc( 100% - 1.5rem );
			left: 0.75rem;
		}
	}

	&:hover{
		.front-card__item{
			&:nth-of-type(1){
				transform: translateY( 0 );
				transition: all .1s linear;
			}

			&:nth-of-type(2){
				transform: translateY( 99% );
				transition: all .2s linear;
			}

			&:nth-of-type(3){
				transform: translateY( 198% );
				transition: all .3s linear;
			}
		}
	}
}