.header{
	background-color: map-get( $color, primary );
	position: relative;
	border-bottom: 1rem solid map-get( $color, white );

	&__topBanner{
		max-width: map-get($display, large);
		margin: 0 auto 2rem;
	}

	&__navigation{
		max-width: map-get($display, large);
		position: absolute;
		top: 100%;
		left: 50%;
		transform: translateX( -50% ) translateY( calc( -50% + 5px ) );
		padding: 0 3rem;

		@media screen and ( max-width: map-get( $display, small ) ) {
			padding: 0 1rem 0 0;
		}

		&_scroll{
			position: fixed;
			bottom: unset;
			top: 0;
			left: 0;
			right: 0;
			transform: none;
			max-width: none;
		}
	}

	&__load {

		$preloader-height: 2px;
		$animation-duration: 3.5s;

		&[role="progressbar"][aria-busy="true"] {
			position: absolute;
			top: 0;
			left: 0;
			padding-top: $preloader-height;
			width: 100%;
			background-color: colour(green);
			animation: preloader-background linear $animation-duration infinite;

			&::before,
			&::after {
				display: block;
				position: absolute;
				top: 0;
				z-index: 2;
				width: 0;
				height: $preloader-height;
				background: #afa;
				animation: preloader-front linear $animation-duration infinite;
				content: '';
			}

			&::before {
				right: 50%;
			}

			&::after {
				left: 50%;
			}
		}
	}

}