.last-game{
	position: relative;
	padding: 0 5rem;

	&__button-prev, &__button-next{
		position: absolute;
		top: 0;
		width: 3.5rem;
		height: 100%;
		margin: 0;
		z-index: 10;
		cursor: pointer;
		background-size: contain;
		background-position: center;
		background-repeat: no-repeat;
	}

	&__button-prev{
		background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 27 44'%3E%3Cpath d='M27 22L5 44l-2.1-2.1L22.8 22 2.9 2.1 5 0l22 22z' fill='%23ffffff'/%3E%3C/svg%3E");
		left: 1rem;
		right: auto;
		transform: rotate( 180deg ) scaleX(0.6);
	}

	&__button-next{
		background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 27 44'%3E%3Cpath d='M27 22L5 44l-2.1-2.1L22.8 22 2.9 2.1 5 0l22 22z' fill='%23ffffff'/%3E%3C/svg%3E");
		right: 1rem;
		left: auto;
		transform: scaleX(0.6);
	}

	&__button-disabled{
		opacity: .3;
		cursor: default;
	}

	&__swiper-slide{
		overflow: hidden;
	}

}