.match-card{
	padding: 1rem 1.5rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	overflow: hidden;
	position: relative;

	&__bg {
		position: absolute;
		width: calc( 100% - 4rem );
		height: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		z-index: -10;

		svg{
			max-width: calc( 100% - 3rem);
			max-height: 100%;
		}

		path {
			fill: lighten(colour(primary),5) !important;
		}
	}

	&__title{
		font-size: 1.8rem;
		color: map-get( $color, white );
		font-weight: 400;
		margin-bottom: 1rem;
		font-family: Roboto;
		line-height: 1.5;
		height: 1.5em;
		overflow: hidden;
		text-align: center;
	}

	&__match{
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: space-between;
		width: 100%;
	}

	&__teams{
		display: flex;
		flex-direction: column;
		align-items: flex-start;
	}

	&__member{
		font-size: 1.5rem;
		line-height: 1.5;
		font-weight: 400;
		color: map-get( $color, white );
		margin-bottom: 0;
	}

	&__result{
		margin-bottom: 0;
		font-size: 2.5rem;
		color: map-get( $color, warning );
		font-weight: 900;
	}

	&__status{
		font-size: 1.5rem;
		line-height: 1.5;
		font-weight: 400;
		color: map-get( $color, white );
		margin-bottom: 0;
	}

	&__front-card{
		position: absolute;
		top: 0.5rem;
		left: 0;
		width: 100%;
		height: calc( 100% - 0.5rem );
		background-color: transparent;
	}
}