.menu{
	display: inline-flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
	padding: 0;
	list-style: none;

	&__link{
		line-height: 1;
		color: map-get( $color, white );
		font-weight: 400;
		font-size: 1.8rem;
		display: block;
		text-align: center;
		padding: 1rem;
		position: relative;
		z-index: 90;
		background-color: map-get( $color, success );
		transition: all .3s ease;

		&:active, &:focus{
			outline: none;
		}

		&_drop-link{
			position: absolute;
			z-index: 89;
			top: 0;
			left: 0;
			width: 100%;
			opacity: 0;
		}
	}

	&__overflow-text{
		line-height: 1;
		height: 1em;
		font-size: 1.6rem;
		overflow: hidden;
		display: block;
	}

	&__item{

		&:not(.menu__link_dropdown){
			.menu__link:hover{
				background-color: map-get( $color, white );
				color: map-get( $color, black );
				text-decoration: none;
			}
		}

		&_dropdown{
			position: relative;

			&:hover{
				
				.menu__link{
					background-color: map-get( $color, white );
					color: map-get( $color, black );

					&:hover{
						background-color: map-get( $color, success );
						color: map-get( $color, white );
					}
				}

				@for $i from 1 through 10{
					.menu__link:nth-of-type(#{$i+1}){
						opacity: 1;
						z-index: #{90-$i};
						transform: translateY( #{100*$i + '%'} );
						transition: transform #{0.05*$i + 's'} ease-in, opacity 0.05s ease-in #{0.05*($i - 1) + 's'};
					}
				}
			}
		}
	}
}