.modal {
	position: fixed;
	width: 43rem;
    height: auto;
    max-height: 100vh;
	background-color: green;
	opacity: 0;
	left: 50%;
	top: 30%;
	transform: translateX(-50%) translateY(-50%) scaleX(0.7);
	transition: all 0.8s ease;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	z-index: -1;

	&__shown {
		opacity: 1;
		top: 50%;
		z-index: 9999999;
		transform: translateX(-50%) translateY(-50%) scaleX(1);
		@include box-shadow(map-get($color, black));
		border-radius: 8px;
	}

	&__load {

		$preloader-height: 2px;
		$animation-duration: 3.5s;

		&[role="progressbar"][aria-busy="true"] {
			position: absolute;
			top: 0;
			left: 0;
			padding-top: $preloader-height;
			width: 100%;
			background-color: colour(green);
			animation: preloader-background linear $animation-duration infinite;

			&::before,
			&::after {
				display: block;
				position: absolute;
				top: 0;
				z-index: 2;
				width: 0;
				height: $preloader-height;
				background: #afa;
				animation: preloader-front linear $animation-duration infinite;
				content: '';
			}

			&::before {
				right: 50%;
			}

			&::after {
				left: 50%;
			}
		}
	}

	&__header {
		background-color: map-get($color, primary);
		@include box-shadow(map-get($color, black));
		display: flex;
		justify-content: space-between;
		align-items: flex-start;
		padding: 1rem 5rem;

		&-close {
			color: white;
			font-size: 3rem;
			position: absolute;
			right: 1rem;
			top: 0rem;
			cursor: pointer;
		}

		&-image {
			max-width: 50%;
		}
	}

	&__content {
		background-color: darken(map-get($color, light), 0);
		position: relative;
		padding: 1rem 5rem;

		&-switcher {
			display: flex;
			justify-content: space-between;
			align-items: center;
			width: 100%;
			padding: 0;
			margin: 0 auto 2rem;
			list-style: none;

			&--item {
				color: white;
				font-size: 2.7rem;
				font-weight: 300;
				cursor: pointer;

				&_active {
					color: map-get($color, success);
				}
			}
		}

		&-form {

		}
	}

	&__footer {
		background-color: lighten(map-get($color, light), 10);
		padding: 2rem 5rem 2rem;

		$fb : #495ca2;
		$ggl : #d5393c;
		$vk : #4574ba;
		$item-size: 40px;

		&-socials {
			font-size: 2rem;
			list-style: none;
			display: flex;
			padding: 0;

			&-item {
				background-color: white;
				border-radius: 50%;
				padding: 1rem;
				line-height: 1;
				width: $item-size;
				height: $item-size;
				display: flex;
				justify-content: center;
				align-items: center;
			}

			@mixin social($social) {
				border: 3px solid $social;
			}

			&-fb {
				@include social($fb);
				.fa-facebook-f {
					color: $fb;
				}
			}

			&-ggl {
				@include social($ggl);
				.fa-google-plus-g {
					color: $ggl;
				}
			}

			&-vk {
				@include social($vk);
				.fa-vk {
					color: $vk;
				}
			}
		}
	}
}


body.modal--active {

	app-home, app-news, app-post {
		filter: blur(5px);
		pointer-events: none;
	}
	.header{
		filter: blur(5px);
		position: relative;
		z-index: 200;
		pointer-events: none;
	}
}

// Animations
@keyframes preloader-background {
  0%, 24.9% {
    background-color: colour(green);
  }
  
  25%, 49.9% {
    background-color: colour(warning);
  }
  
  50%, 74.9% {
    background-color: colour(white);
  }
  
  75%, 100% {
    background-color: colour(success);
  }
}

@keyframes preloader-front {
  0% {
    width: 0;
    background-color: colour(warning);
  }
  
  24.9% {
    width: 50%;
    background-color: colour(warning);
  }
  
  25% {
    width: 0;
    background-color: colour(white);
  }
  
  49.9% {
    width: 50%;
    background-color: colour(white);
  }
  
  50% {
    width: 0;
    background-color: colour(success);
  }
  
  74.9% {
    width: 50%;
    background-color: colour(success);
  }
  
  75% {
    width: 0%;
    background-color: colour(green);
  }
  
  
  100% {
    width: 50%;
    background-color: colour(green);
  }
}