.navigation{
	width: 100%;
	background-color: map-get( $color, success );
	display: inline-flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	box-shadow: 0 2px 10px 0px rgba( colour( black ), 0.75);
	z-index: 100;

	&__menu{
		margin: 0;
	}

	&__authorization{
		margin: 0;
	}

	&__tablet-button{

		background-color: transparent;
		border: none;
		padding: none;
		outline: none !important;
		padding: 0;

		svg{
			height: 50px;
			cursor: pointer;
			transform: translate3d(0,0,0);

			path{
				fill: none;
				transition: stroke-dashoffset 400ms cubic-bezier(0.250,-0.250, 0.750, 1.250), stroke-dasharray 400ms cubic-bezier(0.250,-0.250, 0.750, 1.250);
				stroke-width: 40px;
				stroke-linecap: round;
				stroke: colour(white);
				stroke-dashoffset: 0px;
				
				&:nth-of-type(1), &:nth-of-type(3){
					stroke-dasharray: 240px 950px;
				}

				&:nth-of-type(2){
					stroke-dasharray: 240px 240px;
				}
			}
		}

		&_active{

			svg path{
				
				&:nth-of-type(1), &:nth-of-type(3){
					stroke-dashoffset: -650px;
					stroke-dashoffset: -650px;
				}

				&:nth-of-type(2){
					stroke-dashoffset: -115px;
					stroke-dasharray: 1px 220px;
				}
			}
		}
	}
}