.news-card{
	width: 100%;
	max-width: 100%;
	height: 100%;
	max-height: 100%;
	overflow: hidden;
	position: relative;
	transition: all 0.4s ease-out;

	&__link{
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		display: flex;
		flex-direction: column;
		justify-content: flex-end;

		&::before{
			content: '';
			position: absolute;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
			z-index: 2;
			background: linear-gradient(to bottom,
				                                transparent 0%,
				                                transparent 50%,
				                                rgba( 0, 0, 0, 1 ) 100%);
		}

		&:hover{
			text-decoration: none;
			cursor: pointer;

			.news-card__image{
				min-width: 110%;
				min-height: 110%;

				@supports ( object-fit: cover ){
					min-width: 100%;
					min-height: 100%;
					transform: scale( 1.1 );
				}
			}

			.news-card__title{
				text-decoration: none;
				color: map-get( $color, warning );
				text-shadow: 0 0 1px map-get( $color, warning );
			}
		}
	}

	&__image{
		position: absolute;
		z-index: 1;
		min-width: 100%;
		min-height: 100%;
		top: 0;
		left: 0;
		background-color: colour( light );
		transition: all .5s ease-out;

		@supports ( object-fit: cover ){
			object-fit: cover;
			width: 100%;
			height: 100%;
		}

		&_undefinet{
			background-color: colour(primary);
			background-image: url( 'assets/logo.png' );
			background-size: 80% auto;
			background-repeat: no-repeat;
			background-position: center;
		}
	}

	&__description{
		position: relative;
		z-index: 3;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		font-size: 2rem;

		&_big-card{
			font-size: 3rem;
		}

		&_tablet{
			font-size: 3.2rem;

			@media screen and ( max-width: map-get( $display, semi ) ) {
				font-size: 3rem;
			}

			@media screen and ( max-width: map-get( $display, mobile ) ) {
				font-size: 2.2rem;
			}

			object{
				width: 100%;
				display: inherit;
			}

			&-big{
				font-size: 6rem;

				@media screen and ( max-width: map-get( $display, small ) ) {
					font-size: 5rem;
				}

				@media screen and ( max-width: map-get( $display, semi ) ) {
					font-size: 4rem;
				}

				@media screen and ( max-width: map-get( $display, mobile ) ) {
					font-size: 2rem;
				}
			}
		}
	}

	&__categories{
		font-size: 0.6em;
		font-family: Roboto;
		display: block;
		background-color: map-get( $color, success );
		color: map-get( $color, white );
		min-width: 8rem;
		line-height: 1.75;
		text-align: center;
		padding: 0 1rem;
		font-weight: bold;
		margin-bottom: 0;
		transition: all .3s ease-in;

		&:hover{
			text-decoration: none;
			background-color: darken( map-get( $color, success ), 15 );
			color: darken( map-get( $color, white ), 15 );
		}

		&_tablet{
			min-width: 40%;
			line-height: 1.5;
			display: inline-block;
			max-width: 60%;
			overflow: hidden;
			white-space: nowrap;
			text-overflow: ellipsis;

			@media screen and ( max-width: map-get( $display, mobile ) ) {
				display: none;
			}
		}
	}

	&__title{
		font-weight: bold;
		margin-bottom: 0.5rem;
		font-size: 1em;
		font-family: Roboto;
		line-height: 1.2;
		min-height: 2.4em;
		max-height: 2.4em;
		overflow: hidden;
		padding: 0 3rem 0 1rem;
		color: map-get( $color, white );
		transition: all .4s ease;

		@supports ( -webkit-line-clamp: 2 ) and ( display: -webkit-box ) and ( -webkit-box-orient: vertical ) {
			-webkit-line-clamp: 2;
			display: -webkit-box;
			-webkit-box-orient: vertical;
		}

		@supports not ( -webkit-line-clamp: 2 ){
			space-wrap: nowrap;
		}

		&_tablet{
			line-height: 1;
			min-height: 2em;
			max-height: 2em;
		}

		&_tablet-stream{
			line-height: 1.5;
			min-height: 1em;
		}

		&_load{
			min-height: 1em;
			width: calc( 100% - 3rem );
			background-color: map-get( $color, white );
			margin: 0.7rem 2rem 0.1em 1rem;
			padding: 0;

			&:nth-of-type(2){
				margin: 0.1em 2rem 0.7rem 1rem;
				width: calc( 60% - 3rem );
			}
		}
	}

	&:hover{
		box-shadow: 0 0 10px 2px rgba( map-get( $color, black ), 1 );		
	}
}