.news-template {
	max-width: map-get($display, large);
	margin: 0 auto;
	width: 100%;
	display: flex;
	justify-content: space-between;

	&__main {
		width: calc(100% / 12 * 8);
		background-color: map-get($color, gray-white);
		min-height: calc( 100vh - 23rem );

		&-title {
			font-size: 4.7rem;
			color: map-get($color, success);
			font-weight: bold;
			line-height: 1;
			margin: 4rem 0;
		}
	}

	&__sidebar {
		width: calc( 100% / 12 * 4 - 1rem );
		background-color: map-get($color, light);
		@include box-shadow(map-get($color, black));
	}
}