.news-list{
	background-color: map-get( $color, light );
	@include box-shadow(map-get( $color, black ));
	padding: 1rem 0 1rem 4rem;
	height: 100%;
	overflow: auto;

	&__title{
		font-size: 2.6rem;
		font-weight: 400;
		line-height: 1;
		color: map-get( $color, black );
		margin-bottom: 1rem;
		text-transform: uppercase;
		font-family: Roboto;
		transition: all 300ms ease;

		&_mt{
			margin-top: 2rem;
		}

		&_mb{
			margin-bottom: 0;

			&:hover{
				text-decoration: none;
				color: colour(warning);
				text-shadow: 0 0 1px colour(warning);
			}
		}
	}

	&__date{
		font-weight: 300;
		font-size: 0.85em;
		text-transform: lowercase;
	}

	&__separator{
		position: absolute;
		top: 0;
	}

	&__link{
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: 1rem 1.5rem 1rem 0;
		line-height: 1.1;
		color: map-get( $color, black );
		position: relative;
		width: 100%;
		font-size: 1.9rem;
		font-weight: 300;
		font-family: Roboto;
		transition: all .2s ease;

		&:hover{
			text-decoration: none;
			color: map-get( $color, warning );
			text-shadow: 0 0 1px map-get( $color, warning );
		}

		&:active, &:focus{
			outline: none;
		}
	}

	&__icon{
		display: table;
		width: 2rem;
		position: absolute;
		top: calc( 50% - 0.9rem );
		left: -3rem;

		&_chat{
			position: relative;
			left: unset;
			top: unset;
			width: 2rem;
			margin-right: 0.5rem;
		}
	}

	&__group_load {
		flex-grow: 1;
		padding-right: 1rem;
	}

	&__item{
		max-height: 2.2em;
		display: block;
		overflow: hidden;
		text-overflow: ellipsis;

		@supports ( -webkit-line-clamp: 2 ) and ( display: -webkit-box ) and ( -webkit-box-orient: vertical ) {
			-webkit-line-clamp: 2;
			display: -webkit-box;
			-webkit-box-orient: vertical;
		}

		@supports not ( -webkit-line-clamp: 2 ){
			space-wrap: nowrap;
		}

		&_load{
			background: map-get( $color, primary );
			height: 0.8em;
			width: 100%;
			margin: 0.15em 0 0.3em;

			&:nth-of-type(2){
				width: 60%;
				margin: 0.3em 0 0.15em;
			}
		}

	}

	&__comments{
		// position: absolute;
		right: 2.5rem;
		top: calc( 50% - 0.9rem );
		display: flex;

		a {
			text-decoration: none;
			display: flex;
		}

		&-count{
			z-index: 2;
			font-size: 1.5rem;
			color: lighten(black, 10);
			line-height: 1.2;
		}
	}

	&::-webkit-scrollbar{
		width: 7px;
		background-color: transparent;
	}

	&::-webkit-scrollbar-track{
		background: linear-gradient(to right,
			                                rgba( map-get( $color, warning ), 0 ) 0%,
			                                rgba( map-get( $color, warning ), 0 ) 40%,
			                                rgba( map-get( $color, warning ), 1 ) 40%,
			                                rgba( map-get( $color, warning ), 1 ) 60%,
			                                rgba( map-get( $color, warning ), 0 ) 60%,
			                                rgba( map-get( $color, warning ), 0 ) 100%);
	}

	&::-webkit-scrollbar-thumb{
		background-color: map-get( $color, white );
		border-radius: 1em;
	}

	&::-webkit-scrollbar-button{
		background-color: transparent;
	}
}