.post-description{
	width: 100%;
	background-color: darken( map-get( $color, gray-white ), 3 );
	box-shadow: 0 0 10px 1px rgba( map-get( $color, black ), 0.5 );
	padding: 6rem;
	height: 100%;

	&__image-container{
		overflow: hidden;
		display: inline-block;
		width: 50%;
		float: right;
		position: relative;

		&:before{
			content: '';
			position: absolute;
			width: 10%;
			height: 100%;
			background: linear-gradient(to right, #efefef 0%, rgba(239, 239, 239, 0.9) 10%, rgba(239, 239, 239, 0.05) 80%, rgba(239, 239, 239, 0) 100%);
			top: 0;
			left: 0;
		}
	}

	&__image{
		width: calc( 100% - 2rem );
		height: auto;
		margin: 0 0 2rem 2rem;

		&_load{
			height: 40rem;
			background-color: #bbbbbb;
		}
	}

	&__title{
		font-family: 'Roboto';
		font-size: 3.6rem;
		font-weight: bold;
		line-height: 1.2;
		margin: 0 0 1rem;
		color: map-get( $color, success );

		&_load{
			span{
				height: 0.8em;
				background: map-get( $color, success );
				display: block;
				margin: 0.15em 0;

				&:nth-of-type(1){
					width: 45%;
				}

				&:nth-of-type(2){
					width: 30%;
				}
			}
		}
	}

	&__info{
		line-height: 1;
		color: map-get( $color, black );
		font-family: Roboto;
		font-size: 2rem;
		font-weight: 300;
		margin: 0 0 2rem;

		&-link{
			color: map-get( $color, success );
			transition: all 300ms ease;

			&:hover{
				color: darken( map-get( $color, success ), 20 );
				text-decoration: none;
			}
		}

		&_load{
			span{
				background-color: map-get( $color, black );
				display: block;
				height: 0.8em;
				width: 30%;
				margin: 0.1em;
			}
		}
	}

	&__tags{
		&-item{
			font-size: 1.6rem;
			font-family: Roboto;
			margin: 0 2rem 2rem 0;
			background: map-get( $color, success );
			color: map-get( $color, white );
			font-weight: bold;
			padding: 0.5rem 2rem;
			display: inline-block;
			transition: all .3s ease;

			&_load{
				span{
					background-color: map-get( $color, white );
					height: 0.8em;
					margin: 0.35em 0;
					display: block;
					width: 8rem;
				}
			}

			&:hover{
				background: darken( map-get( $color, success ), 20 );
				color: darken( map-get( $color, white ), 20 );
				text-decoration: none;
			}
		}
	}

	&__innerHTML{
		font-family: Roboto;
		font-size: 2rem;
		font-weight: 400;
		line-height: 1.2;
		color: map-get( $color, black );
		margin-bottom: 8rem;

		p{
			margin: 0 0 2rem;
		}

		a{
			color: map-get( $color, success );
			text-decoration: none;
			font-weight: bold;
			transition: all .3s ease;

			&:hover{
				color: darken( map-get( $color, success ), 20 );
				text-decoration: none;
			}
		}

		&_load{
			p.load{
				span.load{
					height: 0.8em;
					margin: 0.2em 0;
					background-color: map-get( $color, black );
					display: block;
					width: 100%;
				}
			}
		}

		img:hover {
			cursor: pointer;
		}
	}
}