.recom-posts{
	position: relative;
	width: 100%;

	&__title{
		margin: 0 0 3rem;
		font-size: 3.6rem;
		font-weight: bold;
		font-family: Roboto;
		line-height: 1;
		color: colour( success );
		text-align: center;
	}

	&__post-cards{
		display: flex;
		flex-direction: row;
		margin-bottom: 8rem;
		justify-content: space-between;
		width: 100%;
		max-height: 30rem;
	}

	&__news-card{
		width: calc( 100% / 3 - 2rem / 3 );
	}
}