.separator{
	background: linear-gradient(to right,
		                                rgba( map-get( $color, warning ), 0 )   0%,
		                                rgba( map-get( $color, warning ), 0.5 ) 15%,
		                                rgba( map-get( $color, warning ), 1 )   50%,
		                                rgba( map-get( $color, warning ), 0.5 ) 85%,
		                                rgba( map-get( $color, warning ), 0 )   100%);
	border: none;
	width: 100%;
	margin: 0;

	&_start{
		background: linear-gradient(to right,
			                                rgba( map-get( $color, warning ), 1 )   0%,
			                                rgba( map-get( $color, warning ), 0.5 ) 50%,
			                                rgba( map-get( $color, warning ), 0 )   80%);
	}

	&_thick{
		height: 0.3rem;
	}

	&_thin{
		height: 0.1rem;
	}

	&_black{
		background: linear-gradient(to right,
			                                rgba( map-get( $color, black ), 0 )   0%,
			                                rgba( map-get( $color, black ), 0.5 ) 15%,
			                                rgba( map-get( $color, black ), 1 )   50%,
			                                rgba( map-get( $color, black ), 0.5 ) 85%,
			                                rgba( map-get( $color, black ), 0 )   100%);

		&.separator_start{
			background: linear-gradient(to right,
				                                rgba( map-get( $color, black ), 1 )   0%,
				                                rgba( map-get( $color, black ), 0.5 ) 50%,
				                                rgba( map-get( $color, black ), 0 )   80%);
		}
	}
}