.single-stream{
	width: 100%;
	background-color: colour(gray-white);
	box-shadow: 0 0 10px 1px rgba( map-get( $color, black ), 0.5 );
	padding: 2rem;
	height: 100%;

	&__title{
		font-size: 4.5rem;
		font-family: 'Roboto';
		font-weight: bold;
		line-height: 1;
		color: colour( success );
		text-align: center;
		margin: 0 0 2rem;		
	}
}