.stream-card{
	overflow: hidden;
	position: relative;
	transition: all 0.4s ease-out;

	&__link{
		position: absolute;
		width: 100%;
		height: 100%;
		display: flex;
		flex-direction: column;
		justify-content: flex-end;

		&::before{
			content: '';
			position: absolute;
			width: 100%;
			height: 100%;
			z-index: 2;
			background: linear-gradient(to bottom,
				                                transparent 0%,
				                                transparent 50%,
				                                rgba( 0, 0, 0, 1 ) 100%);
		}

		&:hover{
			text-decoration: none;

			.stream-card__image{
				min-width: 110%;
				min-height: 110%;

				@supports ( object-fit: cover ){
					min-width: 100%;
					min-height: 100%;
					transform: scale( 1.1 );
				}
			}

			.stream-card__title{
				text-decoration: none;
				color: map-get( $color, warning );
				text-shadow: 0 0 1px map-get( $color, warning );
			}
		}
	}

	&__image{
		position: absolute;
		z-index: 1;
		background-color: colour(light);
		min-width: 100%;
		min-height: 100%;
		top: 0;
		left: 0;
		transition: all .5s ease-out;

		@supports ( object-fit: cover ){
			object-fit: cover;
			width: 100%;
			height: 100%;
		}
	}

	&__description{
		position: relative;
		z-index: 3;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		font-size: 2rem;
	}

	&__title{
		
		font-weight: bold;
		margin-bottom: 0.5rem;
		font-size: 1em;
		font-family: Roboto;
		line-height: 1.2;
		max-height: 2.4em;
		overflow: hidden;
		padding: 0 3rem 0 1rem;
		color: map-get( $color, white );
		transition: all .4s ease;

		@supports ( -webkit-line-clamp: 2 ) and ( display: -webkit-box ) and ( -webkit-box-orient: vertical ) {
			-webkit-line-clamp: 2;
			display: -webkit-box;
			-webkit-box-orient: vertical;
		}

		@supports not ( -webkit-line-clamp: 2 ){
			space-wrap: nowrap;
		}

		&_load{
			height: 0.8em;
			width: calc( 100% - 3rem );
			background-color: map-get( $color, white );
			margin: 0.7rem 2rem 0.2em 1rem;
			padding: 0;

			&:nth-of-type(2){
				margin: 0.2em 2rem 0.7rem 1rem;
				width: calc( 60% - 3rem );
			}
		}
	}

	&:hover{
		box-shadow: 0 0 10px 2px rgba( map-get( $color, black ), 1 );		
	}
}