.stream-list{

	&__title{
		font-size: 2.6rem;
		font-weight: 400;
		line-height: 1;
		color: map-get( $color, primary );
		margin-bottom: 1rem;
		text-transform: uppercase;
		font-family: Roboto;
		text-align: center;
		display: block;
		trasition: all 300ms ease;

		@media screen and ( max-width: map-get( $display, small ) ) {
			display: none;
		}

		&:hover{
			text-decoration: none;
			color: colour(warning);
			text-shadow: 0 0 1px colour(warning);
		}
	}

	&__stream-card{
		margin-bottom: 1rem;
	}

	&__stream-item{
		display: flex;
		flex-direction: row;
		justify-content: flex-start;
		align-items: center;
		font-family: 'Roboto';
		color: colour(gray);
		font-size: 3rem;
		font-weight: 300;
		margin-bottom: 1rem;
		background-color: transparent;
		transition: all 200ms ease;
		cursor: pointer;
		padding: 0 0.5rem;

		span{

			&:first-child{
				margin-right: 1rem;
			}

			&:nth-of-type(2){
				flex-shrink: 1;
				overflow: hidden;
				white-space: nowrap;
				text-overflow: ellipsis;
				margin-right: 1rem;
			}

			&:last-child{
				margin-left: auto;
				font-size: 0.5em;
				white-space: nowrap;
				min-width: 8rem;
			}
		}

		&:hover{
			color: darken(colour(gray), 20);
			background-color: rgba( colour( success ), .2 );
		}

		&_active{
			background-color: colour( success );
			cursor: default;
			color: colour( white );
			
			&:hover{
				background-color: colour( success );
				color: colour(white);
			}
		}
	}
}