.topBanner{
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	align-items: center;
	justify-content: space-between;
	position: relative;
	padding: 1rem;

	@media screen and ( max-width: map-get( $display, semi ) ) {
		flex-direction: column;
	}

	&__logotype{
		width: calc( 100% / 12 * 2 );

		@media screen and ( max-width: map-get( $display, semi ) ) {
			max-width: 20rem;
			width: 100%;
			margin-bottom: 2rem;
		}
	}

	&__last-game{
		width: calc( 100% / 12 * 8 );

		@media screen and ( max-width: map-get( $display, semi ) ) {
			width: 100%;
		}
	}

	&__allMatchLink{
		width: calc( 100% / 12 );

		@media screen and ( max-width: map-get( $display, semi ) ) {
			display: none !important;
		}
	}
}