<div class="header">
	<div [attr.aria-busy]="loadPage.get()"
		aria-label="Loading, please wait."
		role="progressbar"
		class="header__load"></div>

	<div class="header__topBanner topBanner">
		
		<div class="topBanner__logotype logotype">
			<a class="logotype__link" routerLink="/">
				<img class="logotype__image"
						[src]="logo.url"
						[alt]="logo.alt"
						[title]="logo.title">
			</a>
		</div>

		<div class="topBanner__last-game last-game">
			<swiper class="last-game__swiper-container swiper-container">
				<div class="last-game__swiper-slide swiper-slide"
					 *ngFor="let game of games">

					<div class="last-game__match-card match-card">
						<div class="match-card__bg"
							[inlineSVG]="game.gameSlug + '.svg'"></div>
						
						<p class="match-card__title">
							{{ game.name }}
						</p>

						<div class="match-card__match">
							<div class="match-card__teams">
								<p class="match-card__member">
									{{ game.commands[0].name }}
								</p>
								<p class="match-card__member">
									{{ game.commands[1].name }}
								</p>
							</div>
							<h5 class="match-card__result">
								{{ game.commands[0].status }}:{{ game.commands[1].status }}
							</h5>
						</div>
						<p class="match-card__status" *ngIf="!game.online">
							{{ game.result }}
						</p>

						<div class="match-card__front-card front-card">
							<hr class="front-card__separator
										front-card__separator_top-line
										separator
										separator_thick" />
							<div class="front-card__item">
								<a routerLink="/forecast/game/{{ game.gameSlug }}"
									class="front-card__link">
									Прогноз
								</a>
							</div>
							<div class="front-card__item">
								<hr class="front-card__separator
											separator
											separator_thin" />
								<a routerLink="/tour/{{ game.tourSlug }}"
									class="front-card__link">
									Турнир
								</a>
							</div>
							<div class="front-card__item">
								<hr class="front-card__separator
											separator
											separator_thin" />
								<a href="/tournament/{{ game.tourSlug }}/match/{{ game.gameSlug }}"
									class="front-card__link">
									Матч
								</a>
							</div>
						</div>
					</div>
				</div>
			</swiper>
			<div class="last-game__button-prev"></div>
			<div class="last-game__button-next"></div>
		</div>
		<div class="topBanner__allMatchLink allMatchLink">
			<a class="allMatchLink__link"
				href="/"
				routerLink="/tour">
				Все матчи
			</a>
		</div>
	</div>
	<app-navigation
		class="header__navigation navigation"
		(openModalEvent)="openModal(modal)"
		appScrollMenu>
	</app-navigation>
</div>
<router-outlet></router-outlet>

<div class="modal" #modal>
	<app-auth-modal [logo]="logo" (closeModalEvent)="closeModal(modal)">
	</app-auth-modal>
</div>