:host{
	width: 100vw;
	height: 100vh;
	position: fixed;
	display: flex;
	top: 0;
	left: 0;
	z-index: 1000;
	background-color: rgba( #000000, 0.75 );
	transition: all 400ms ease;
}

button{
	position: absolute;
	font-size: 50px;
	top: 0;
	right: 0;
	color: white;
	background: transparent;
    border: none;
    outline: none !important;
    padding: 50px;
	transition: all 200ms ease;

	&:hover{
		transform: scale(1.1);
		color: darken( white, 10 );
		cursor: pointer;
	}
}

img{
	max-width: 80vw;
	max-height: 80vh;
	margin: auto;
}